<div class="row">
  <h1>Carrinho</h1>
</div>
<hr>
<br>
<div class="row">
  <ul>
      <% @produtos.each do |produto| %>
              <li>
                <%= produto.nome %> - R$<%= produto.valor %>
              </li>
        <%end%>
  </ul>  
</div>
<h1> 
  Valor Total: R$<%= @produtos.sum(:valor) %>
</h1>
<div class="row"> 
  <a href="/carrinho/fechar" class="btn btn-success" style=" width: 60%; margin-top: 10px;  margin: auto; margin-bottom: 20px; font-size: 40px">Concluir Compra</a>
</div>
  