<br>
<br>
<div style="text-align: center;">
    <form method="post" action="login/logar" style="width: 400px; display: inline-block;" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Já é cliente? Faça seu login</h1>
    <label for="email" class="sr-only">E-mail</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Endereço de e-mail" required="" autofocus="">
    <label for="senha" class="sr-only">Senha</label>
    <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox"  value="1" name="lembrar"> Lembre de mim
        </label>
    </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <hr>
    <div style="padding-top: 30px; padding-bottom: 30px;width: 400px;display: inline-block; ">
        <h1 class="h3 mb-3 font-weight-normal">Não é cliente? Faça seu cadastro</h1>
        <a href="/cliente/cliente/cadastrar" class="btn btn-lg btn-primary">Cadastrar</a>
    </div>    
    
</div>