<div class="page-header">
  <br>
  <br>
  <%= link_to produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_produto_path(@tipo_produto), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span></br>
    Editar
  <% end %>
  <h1>Mostrar Tipo de Produto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @tipo_produto.nome %></dd>
</dl>
